<!DOCTYPE html>

@using EquipmentManagementSystem.Data
@inject Localizer Localizer

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />
    <link href="~/css/Table.css" rel="stylesheet" type="text/css" />
    <link href="~/css/jquery-ui.min.css" rel="stylesheet" type="text/css" />


    <script src="~/js/jquery.min.js" type="text/javascript"></script>'
    <script src="~/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/js/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/jquery-ui.min.js" type="text/javascript"></script>

    <script src="~/js/Index-Table.js" type="text/javascript"></script>

    <script type="text/javascript">

        // Prevents doubleclicking from selecting text in table
        $('document').ready(function () {

            var table = document.getElementById('table');
            table.addEventListener('mousedown', function (event) {
                if (event.detail > 1) {
                    event.preventDefault();
                }
            }, false);
        });

        var handler = function () {

            var dialog = document.getElementById('#exportDialog');
            $.getScript("/js/ConfirmationDialogue.js", function () {
                ConfirmClickGeneric(Export, dialog);
            });
        };

        function Export() {

            var element = document.getElementById('exportSelect');
            var exportTypeVal = element.options[element.selectedIndex].text;

            var str = "@Url.Action("Export", new { exportType = "_exportType_", searchString = ViewData["SearchString"] })"
                .replace("_exportType_", exportTypeVal);
            window.location = str;

        };

        var languageClick = function (event) {

            var str = "@Url.Action("Index", new { culture ="_language_"})"
                .replace("_language_", encodeURIComponent(event.value));

            window.location = str;
        };

    </script>
</head>
<body>
    <header class="HeaderStyle">
        <nav>
            <li>
                @Html.ActionLink(Localizer["Equipment"], "Index", "Home")
                @Html.ActionLink(Localizer["Owner"], "Index", "Owner")
                <a href="#" onclick="handler()" id="exportButton">@Localizer["Export"]</a>

            </li>

        </nav>
        <div style="float:right; padding-top:12px; padding-right:20px; display:inline-flex">
            <text style="font-size:25px; color:white; margin-right:20px; margin-top:2px;">Language:</text>
            <button onclick="languageClick(this)" style="margin-top:5px; width:45px; height:25px; text-align:center;" value="en-GB">ENG</button>
            <text style="font-size:25px; color:white; padding:4px 5px 0px 5px">/</text>
            <button onclick="languageClick(this)" style="margin-top:5px; width:45px; height:25px; text-align:center;" value="sv-SE">SWE</button>
        </div>
    </header>

    <div class="body-content">
        @RenderBody()
    </div>

    <div id="exportDialog" class="Dialog" title="" hidden>
        <select id="exportSelect" style="position:relative">
            <option value="0" selected>Excel</option>
            <option value="1">JSON</option>
        </select>
        <p style="position:relative">@Localizer["Are you sure you wish to Export?"]</p>
    </div>

    @RenderSection("Scripts", false/*required*/)
</body>
</html>
