<!DOCTYPE html>

@using EquipmentManagementSystem.Domain.Service
@inject Localizer Localizer

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />
    <link href="~/css/Table.css" rel="stylesheet" type="text/css" />
    <link href="~/css/jquery-ui.min.css" rel="stylesheet" type="text/css" />

    <script src="~/js/jquery.min.js" type="text/javascript"></script>
    <script src="~/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/js/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/jquery-ui.min.js" type="text/javascript"></script>

    <script src="~/js/Index-Table.min.js" type="text/javascript"></script>

    <!--These are for Owner/Index-->
    <script src="~/js/Search.min.js" type="text/javascript"></script>
    <script src="~/js/getOwnerList.js" type="text/javascript"></script>
    <script src="~/js/ConfirmationDialogue.min.js" type="text/javascript"></script>

    <script>

        var languageClick = function (event) {

            var str = "@Url.Action("Index", new { culture ="_language_"})"
                .replace("_language_", encodeURIComponent(event.value));

            window.location = str;
        };


        $('document').ready(function () {

            AddCategoryClickEvent();
            document.getElementById("submitSearch")
                .addEventListener(
                "click",
                PostTable("", document.getElementById("search").search.value, "")
            );

            $.get("@Url.Action("Table")",
                function (data) {
                    var partial = $('#partialTable');
                    partial.replaceWith(data);
                }
            );

        $('#search').focusin(function () {

            $(this).attr('value', '');
        });


        $('#search').focusout(function () {

            var input = document.getElementById('search');
            if (input.value.length < 1) {
                $(this).attr('value', '@Localizer["Find model/date/owner..."]');
            }
        });


            $('#search').keyup(function (e) {

                // on enter key press submit search
                if (e.keyCode == 13) {

                    var searchVal = e.target.value;
                    PostTable("", searchVal, "");
                }
                else if (e.target.value.length < 1) {

                    var list = document.getElementById("searchCategories");
                    list.style.display = "none";
                }
                else {

                    var searchVal = e.target.value;
                    var values = searchVal.split(", ");

                    document.getElementById("categoryDate").value = "LastEdited:" + values[values.length - 1];
                    document.getElementById("categoryModel").value = "Model:" + values[values.length - 1];
                    document.getElementById("categorySerial").value = "Serial:" + values[values.length - 1];
                    document.getElementById("categoryOwner").value = "Owner:" + values[values.length - 1];
                    document.getElementById("categoryType").value = "EquipType:" + values[values.length - 1];

                    var list = document.getElementById("searchCategories");
                    list.style.display = "block";
                }
            });

        });





        function AddCategoryClickEvent() {

            let categories = document.getElementsByClassName("categoryButton");

            for (var i = 0; i < categories.length; i++) {
                categories[i].addEventListener("click", function (e) { CategoryClick(e); });
            }
        };



        var importHandler = function () {

            $.getScript("/js/ConfirmationDialogue.js", function () {
                ConfirmClickGeneric(Import, '#importDialog');
            });
        };


        function Import() {

            SubmitImport("@Url.Action("Import")", "@Url.Action("Index")");
        };


        var exportHandler = function () {

            $.getScript("/js/ConfirmationDialogue.js", function () {
                ConfirmClickGeneric(Export, '#exportDialog');
            });
        };


        function Export() {

            SubmitExport("@Html.Raw(Url.Action("Export", new { exportType = "_exportType_", searchString = "_searchValue_", selection = "_selection_" }))");
        };

    </script>
</head>
<body>
    <header class="HeaderStyle">
        <nav>
            <li>
                @Html.ActionLink(Localizer["Equipment"], "Index", "Home")
                @Html.ActionLink(Localizer["Owner"], "Index", "Owner")
                @Html.ActionLink(Localizer["Chromebook"], "Index", "Chromebook")
                <a href="#" onclick="exportHandler()" id="exportButton">@Localizer["Export"]</a>

            </li>

        </nav>
        <div style="float:right; padding-top:12px; padding-right:20px; display:inline-flex">
            <text style="font-size:25px; color:white; margin-right:20px; margin-top:2px;">Language:</text>
            <button onclick="languageClick(this)" style="margin-top:5px; width:45px; height:25px; text-align:center;" value="en-GB">ENG</button>
            <text style="font-size:25px; color:white; padding:4px 5px 0px 5px">/</text>
            <button onclick="languageClick(this)" style="margin-top:5px; width:45px; height:25px; text-align:center;" value="sv-SE">SWE</button>
        </div>
    </header>

    <div class="body-content">
        @RenderBody()
    </div>

    <div id="exportDialog" class="Dialog" title="" hidden>
        <select id="exportSelect" style="position:relative">
            <option value="0" selected>Excel</option>
            <option value="1">JSON</option>
        </select>
        <p>@Localizer["Are you sure you wish to Export?"]</p>

    </div>

    <div id="importDialog" class="Dialog" title="" hidden>
        <select id="importSelect" style="position:relative">
            <option value="0" selected>MacService</option>
            <option value="1">Backup</option>
            <option value="1">Random</option>
            <option value="2">LegacyJSON</option>
        </select>
        <input type="file" name="file" id="file" />
        <p>@Localizer["Are you sure you wish to Import?"]</p>

    </div>

    <div id="deleteDialog" class="Dialog" title="Delete" hidden>
        <table id="deleteTable"></table>
    </div>

    @RenderSection("Scripts", false/*required*/)
</body>
</html>
