<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />
    <link href="~/css/Table.css" rel="stylesheet" type="text/css" />
    <link href="~/css/jquery-ui.css" rel="stylesheet" type="text/css" />

    <script src="~/js/jquery.js" type="text/javascript"></script>
    <script src="~/js/jquery-ui.js" type="text/javascript"></script>
    <script src="~/js/Index-Table.js" type="text/javascript"></script>
    <script type="text/javascript">

        // Prevents doubleclicking from selecting text in table
        $('document').ready(function () {

            var table = document.getElementById('table');
            table.addEventListener('mousedown', function (event) {
                if (event.detail > 1) {
                    event.preventDefault();
                }
            }, false);
        });

        var handler = function () {

            var dialog = document.getElementById('#exportDialog');
            $.getScript("/js/ConfirmationDialogue.js", function () {
                ConfirmClickGeneric(Export, dialog);
            });            
        };

        function Export() {

            //var select = document.getElementById('exportSelect');
            var exportType = $('#exportSelect option: selected').text()
            $.getScript("/js/ajaxPost.js", function () {
                Post("@Url.Action("Export")", exportType);
            });
        };

    </script>
</head>
<body>
    <header class="HeaderStyle">
        <nav>
            <li>
                @Html.ActionLink("Utrustning", "Index", "Home")
                @Html.ActionLink("Ägare", "Index", "Owner")
                <a href="#" onclick="handler()" id="exportButton">Export</a>
            </li>
        </nav>
    </header>

    <div class="body-content">
        @RenderBody()
    </div>

    <div id="exportDialog" class="Dialog" title="" hidden>
        <select id="exportSelect" style="position:relative">
            <option value="0">Excel</option>
            <option value="1">JSON</option>
        </select>
        <p style="position:relative">Are you sure you wish to Export?</p>
    </div>

    @RenderSection("Scripts", false/*required*/)
</body>
</html>
