@using EquipmentManagementSystem.Domain.Data.Models
@model PagedList<EquipmentViewModel>
@using EquipmentManagementSystem.Domain.Data
@using EquipmentManagementSystem.Domain.Service
@inject Localizer Localizer

@{
    Layout = "~/Views/Shared/_EquipmentTableLayout.cshtml";
}

@if (@Model.TotalPages > 1) {

    <p>Displaying: @Model.PageEntries - @Model.PageEnd of @Model.TotalEntries entries</p>

    <p>Total entries: @Model.TotalEntries</p>
    <p id="CurPage" hidden>@Model.Page</p>
    <p id="CurrentSort" hidden>@ViewData["CurrentSort"].ToString()</p>
    <p id="SearchString" hidden>@ViewData["SearchString"].ToString()</p>
    <div style="float:left" id="pageList">
        <div style="float:left" id="startList"></div>
        <div style="float:left" id="curList"></div>
        <div style="float:left" id="endList"></div>
    </div>

}
<table class="table NoPaddingMargin" id="table">
    <thead>
        <tr id="selectionRow">
            <th id="selectionButtons" style="display:none">
                Selection
                <input type="button" id="selectionDelete" value="Delete" />
                <input type="button" id="selectionExport" value="Export" />
            </th>

        </tr>
        <tr>
            <th>
                <a href="" class="sortLink" id="Date">
                    @Localizer["Date"]
                </a>
            </th>
            <th>
                @Localizer["Model"]
            </th>
            <th>
                @Localizer["Serial"]
            </th>
            <th>
                <a href="" class="sortLink" id="Owner">
                    @Localizer["Owner"]
                </a>
            </th>
            <th>
                @Localizer["EquipType"]
            </th>
            <th class="Actions">
            </th>
        </tr>
    </thead>
    @foreach (var item in Model) {
        <tr id="toprow" class="ParentRow">
            <td>
                @Html.DisplayFor(modelItem => item.Equipment.LastEdited)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Equipment.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Equipment.Serial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Equipment.OwnerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Equipment.EquipType)
            </td>
            <td class="Actions">
                @Html.ActionLink(Localizer["Edit"], "Edit", new { id = item.Equipment.ID, culture = ViewData["Language"] }) |
                @Html.ActionLink(Localizer["Delete"], "Delete", new { id = item.Equipment.ID, culture = ViewData["Language"] })
            </td>
        </tr>

        <tr class="ChildRow">
            <td colspan="5">@Html.DisplayFor(modelItem => item.Equipment.Notes)</td>
        </tr>
    }
</table>

@section Scripts {

    <script type="text/javascript">
    </script>
}