@using EquipmentManagementSystem.Models
@using EquipmentManagementSystem.Data
@inject Localizer Localizer

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Placeholder";
}


@section Scripts {


    <script type="text/javascript">

        $('document').ready(function () {

            var tableView = "@Html.Raw(Url.Action("Table", "Home", new { sortVariable = "_Sort_", searchString = "_Search_", page = "_Page_" }))"
                .replace("_Sort_", encodeURIComponent("@ViewData["CurrentSort"]"))
                .replace("_Search_", encodeURIComponent("@ViewData["SearchString"]"))
                .replace("_Page_", encodeURIComponent("@ViewData["Page"]"))

            $.get(tableView,
                function (data) {
                    var partial = $('#partialTable');
                    partial.replaceWith(data);
                }
            )
        });


        $('#search').focusin(function () {

            $(this).attr('value', '');
        });


        $('#search').focusout(function () {

            var input = document.getElementById('search');
            if (input.value.length < 1) {
                $(this).attr('value', '@Localizer["Find model/date/owner..."]');
            }

        });


        $('#search').keyup(function (e) {

            // on enter key press submit search
            if (e.keyCode == 13) {

                var searchVal = e.target.value;
                PostTable("@ViewData["Page"]", searchVal, "@ViewData["CurrentSort"]");
            }
            else if (e.target.value.length < 1) {

                var list = document.getElementById("searchCategories");
                list.style.display = "none";
            }
            else {

                var searchVal = e.target.value;
                var values = searchVal.split(", ");

                document.getElementById("categoryDate").value = "LastEdited:" + values[values.length - 1];
                document.getElementById("categoryModel").value = "Model:" + values[values.length - 1];
                document.getElementById("categorySerial").value = "Serial:" + values[values.length - 1];
                document.getElementById("categoryOwner").value = "Owner:" + values[values.length - 1];
                document.getElementById("categoryType").value = "EquipType:" + values[values.length - 1];

                var list = document.getElementById("searchCategories");
                list.style.display = "block";
            }            
        });


        $('#submitSearch').click(function (e) {

            var search = document.getElementById("search");
            var searchVal = search.value;

            PostTable("@ViewData["Page"]", searchVal, "@ViewData["CurrentSort"]");
        });


        // replaces search value with category clicked
        $('.CategoryButton').on("click", function (e) {

            var searchBox = document.getElementById("search");

            if (searchBox.value.split(", ").length > 1) {

                var values = searchBox.value.split(", ");
                var oldVal = "";

                for (var i = 0; i < values.length - 1; i++) {

                    oldVal += values[i];
                }

                searchBox.value = e.target.value + ", " + oldVal;
            }
            else {

                searchBox.value = e.target.value + ", ";
            }

        });


        function PostTable(uri, searchString, currentSort) {

            var tableView = "@Html.Raw(Url.Action("Table", "Home", new { sortVariable = "_Sort_", searchString = "_Search_", page = "_Page_" }))"
                .replace("_Sort_", encodeURIComponent(currentSort))
                .replace("_Search_", encodeURIComponent(searchString))
                .replace("_Page_", encodeURIComponent(uri));

            $.get(tableView,
                function (data) {

                    $('table').replaceWith(data);
                }
            )
        };


        var importHandler = function () {

            $.getScript("/js/ConfirmationDialogue.js", function () {
                ConfirmClickGeneric(Import, '#importDialog');
            });
        };

        function Import() {

            var element = document.getElementById('importSelect');
            var importTypeVal = element.options[element.selectedIndex].text;
            var file = document.getElementById('file');
            var formData = new FormData();
            var fileData = file.files[0];
            formData.append('file', fileData);
            formData.append('source', importTypeVal);

            $.ajax({
                url: "@Url.Action("Import")",
                processData: false,
                contentType: false,
                data: formData,
                type: "POST",
                success: function (response) {

                    if (response) {
                        alert("Import succeded!");
                    }
                    else if (!response) {
                        alert("Import failed!");
                    }
                    else {
                        alert("Error!");
                    }
                }
            });

        };

    </script>
}

<h2>@Localizer["Equipment"]</h2>


    <div>
        @Html.TextBox("SearchString", Localizer["Find model/date/owner..."], new { id = "search", @class = "Search" })
        <input id="submitSearch" type="button" value="@Localizer["Search"]"/>

        <div id="searchCategories" hidden>
            <ul class="CategoryList">
                <li>
                    <input class="CategoryButton" type="button" id="categoryDate" value="LastEdited" />
                </li>
                <li>
                    <input class="CategoryButton" type="button" id="categoryModel" value="Model" />
                </li>
                <li>
                    <input class="CategoryButton" type="button" id="categorySerial" value="Serial" />
                </li>
                <li>
                    <input class="CategoryButton" type="button" id="categoryOwner" value="Owner" />
                </li>
                <li>
                    <input class="CategoryButton" type="button" id="categoryType" value="EquipType" />
                </li>
            </ul>
        </div>
    </div>
<p>
    <a href="#" onclick="importHandler()" id="importButton">@Localizer["Import"]</a>
</p>



<p>
    @Html.ActionLink(Localizer["Create New"], "Create", new { culture = ViewData["Language"] })
</p>

<div id="partialTable"></div>



