@using EquipmentManagementSystem.Models
@using EquipmentManagementSystem.Data
@inject Localizer Localizer

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    //ViewData["Title"] = Localizer["Equipment"];
    ViewData["Title"] = "Placeholder";
}


@section Scripts {

    <script src="~/js/Index-Table.js" type="text/javascript"></script>

    <script type="text/javascript">

        $('document').ready(function () {

            var tableView = "@Html.Raw(Url.Action("Table", "Home", new { sortVariable = "_Sort_", searchString = "_Search_", page = "_Page_" }))"
                .replace("_Sort_", encodeURIComponent("@ViewData["CurrentSort"]"))
                .replace("_Search_", encodeURIComponent("@ViewData["SearchString"]"))
                .replace("_Page_", encodeURIComponent("@ViewData["Page"]"))

            $.get(tableView,
                function (data) {
                    var partial = $('#partialTable');
                    partial.replaceWith(data);
                }
            )
        });

        $('#search').focusin(function () {

            $(this).attr('value', '');
        });


        $('#search').focusout(function () {

            var input = document.getElementById('search');
            if (input.value.length < 1) {
                $(this).attr('value', '@Localizer["Find model/date/owner..."]');
            }

        });
    </script>
}

<h2>@Localizer["Equipment"]</h2>

@using (Html.BeginForm()) {

    <div>
        @Html.TextBox("SearchString", Localizer["Find model/date/owner..."], new { id = "search", @class = "Search" })
        <input type="submit" value="@Localizer["Search"]" class="searchBox" />
    </div>
}

<p>
    @Html.ActionLink(Localizer["Import"], "Import")
</p>

<p>
    @Html.ActionLink(Localizer["Create New"], "Create", new { culture = ViewData["Language"] })
</p>

<div id="partialTable"></div>



