@using EquipmentManagementSystem.Models
@model PagedList<Equipment>
@using EquipmentManagementSystem.Data
@inject Localizer Localizer

@{
    Layout = "~/Views/Shared/_EquipmentTableLayout.cshtml";
}


@section Scripts {

    <script type="text/javascript">


        $('document').ready(function () {

            var curPage = @Model.Page == -1 ? 0 : @Model.Page;

            var count = @Model.TotalPages;
            var lastPos = @Model.TotalPages - 1;

            var posList = [0, lastPos];
            var startList = document.getElementById('startList');
            var endList = document.getElementById('endList');
            var curList = document.getElementById('curList');

            startList.innerHTML = '';
            endList.innerHTML = '';
            curList.innerHTML = '';

            for (var i = (curPage - 2); i < (curPage + 3); i++) {

                if (i < 1) {
                    i++;
                }
                if (i > 0 && i < lastPos) {
                    posList.push(i);
                }
            }

            for (var i = 0; i < posList.length; i++) {

                var a = document.createElement('a');
                a.appendChild(document.createTextNode(posList[i]));

                a.classList = posList[i] == curPage ? "CurPage" : "PageLink";

                a.href = "javascript:PageClick(_Obj_)"
                    .replace("_Obj_", a.textContent);


                if (i == 0 && posList[i] != curPage) {

                    startList.appendChild(a);
                }
                else if (i == 1) {

                    endList.appendChild(a);
                }
                else {

                    if (posList[i] == curPage) {
                        var text = document.createTextNode(posList[i]);
                        curList.appendChild(text);
                    }
                    else {
                        curList.appendChild(a);
                    }
                }

            }
        });


        $('a.sortLink').click(function (e) {

            e.preventDefault();
            Sort(e.target.id.toString());
        });

        function PageClick(page) {

            PostTable(page, "@ViewData["SearchString"]", "@ViewData["CurrentSort"]");
        };

        function Sort(value) {

            switch (value) {

                case "Date":

                    sortVariable = "@ViewData["CurrentSort"]" == "Date_desc" ? "Date_desc" : "Date";
                    PostTable("@ViewData["Page"]", "@ViewData["SearchString"]", sortVariable.toString());
                    break;

                case "Owner":

                    sortVariable = "@ViewData["CurrentSort"]" == "Owner" ? "Owner_desc" : "Owner"
                    PostTable("@ViewData["Page"]", "@ViewData["SearchString"]", sortVariable.toString());
                    break;

                default:

                    PostTable("0", "", "Date_desc");
                    break;
            }

        };


        $("#selectionDelete").click( function (event) {


            var table = document.getElementById("deleteTable");
            var rowItems = $(".SelectedRow");

            for (var i = 0; i < rowItems.length; i++) {

                var model = rowItems[i].cells[1].innerHTML;
                var serial = rowItems[i].cells[2].innerHTML;
                var owner = rowItems[i].cells[3].innerHTML;

                var row = document.createElement("tr");
                var cell = document.createElement("td");

                cell.innerHTML = model;
                row.append(cell);
                cell = document.createElement("td");
                cell.innerHTML = serial;
                row.append(cell);
                cell = document.createElement("td");
                cell.innerHTML = owner;
                row.append(cell);

                table.appendChild(row);
            }
            
            $.getScript("/js/ConfirmationDialogue.js", function () {
                ConfirmClickGeneric(Delete, '#deleteDialog', 900);
            });

        });


        function Delete() {

            
            var rows = document.getElementById("deleteTable");
            var serial = Array();

            for (var i = 0, row; row = rows.rows[i]; i++) {

                alert("oi2");
                serial[i] = row.cells[1].innerHTML;
            }
            
            $.post("@Url.Action("DeleteSelection", "Home", new { serial = "_serials_" })"
                .replace("_serials_", encodeURIComponent(serial)), function (response) {

                });
        };

        $("#selectionExport").click(function() {

            $.getScript("/js/ConfirmationDialogue.js", function () {
                ConfirmClickGeneric(Export, '#exportDialog');
            });
        });


    </script>
}


<table class="table NoPaddingMargin" id="table">
    <thead>
        <tr id="pageListRow">
            @if (@Model.TotalPages > 1) {

            <p>Total entries: @Model.TotalEntries</p>
                <div style="float:left" id="pageList">
                    <div style="float:left" id="startList"></div>
                    <div style="float:left" id="curList"></div>
                    <div style="float:left" id="endList"></div>
                </div>

            }
        </tr>
        <tr id="selectionRow">
            <th id="selectionButtons" style="display:none">
                Selection
                <input type="button" id="selectionDelete" value="Delete" />
                <input type="button" id="selectionExport" value="Export" />
            </th>

        </tr>
        <tr>
            <th>
                <a href="#" class="sortLink" id="Date">
                    @Localizer["Date"]
                </a>
            </th>
            <th>
                @Localizer["Model"]
            </th>
            <th>
                @Localizer["Serial"]
            </th>
            <th>
                <a href="#" class="sortLink" id="Owner">
                    @Localizer["Owner"]
                </a>
            </th>
            <th>
                @Localizer["EquipType"]
            </th>
            <th class="Actions">
            </th>
        </tr>
    </thead>
    @foreach (var item in Model) {
        <tr id="toprow" class="ParentRow">
            <td>
                @Html.DisplayFor(modelItem => item.LastEdited)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Serial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Owner.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EquipType)
            </td>
            <td class="Actions">            
                @Html.ActionLink(Localizer["Edit"], "Edit", new { id = item.ID, culture = ViewData["Language"] }) |
                @Html.ActionLink(Localizer["Delete"], "Delete", new { id = item.ID, culture = ViewData["Language"] })
            </td>
        </tr>

        <tr class="ChildRow">
            <td colspan="5">@Html.DisplayFor(modelItem => item.Notes)</td>
        </tr>
    }
</table>