@model EquipmentManagementSystem.Domain.Data.Models.Owner
@using EquipmentManagementSystem.Domain.Service
@using EquipmentManagementSystem.Data
@inject Localizer Localizer


@{
    ViewData["Title"] = Localizer["Create"] + " " + Localizer["Owner"];
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

@section scripts {
    <script src="~/js/ajaxPost.js" type="text/javascript"></script>
    <script type="text/javascript">

        function callBackOwner(data) {

            if (data) {

                var modal = document.getElementById('modal-placeholder');
                modal.style.display = "none";
                window.location.reload(false);
                return false;
            }
            else {
                alert("something went wrong");
            }
        };

        $('#modalSubmit').on("click", function (event) {

            alert("oi");
            event.preventDefault();
            var form = $('#modalForm');

            PostForm(form);
        });

        function PostForm(form) {

    $.ajax({
        dataType: 'JSON',
        type: 'POST',
        url: form.attr('action'),
        data: form.serialize(),
        success: function (data) {

            switch (data) {
                case true:
                    var modal = document.getElementById('modal-placeholder');
                    modal.style.display = "none";
                    break;
                case false:
                    break;
                case null:
                    alert("Model invalid");
                    break;
                default:
            }
        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {
            alert(errorThrown);
            return false;
        }
    });
};


    </script>

}

<h2>@Localizer["Create"] @Localizer["Owner"]</h2>

@using (Html.BeginForm("PostModal", "Owner", FormMethod.Post, new { id = "modalForm" })) {
    @Html.AntiForgeryToken()

    <div>
        <table>
            <tr>
                <td>
                    <p class="CategoryText Bold">@Localizer["FirstName"]:  </p>
                </td>
                <td>
                    <p class="CategoryText">@Html.EditorFor(model => model.FirstName)</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="CategoryText Bold">@Localizer["LastName"]:  </p>
                </td>
                <td>
                    <p class="CategoryText">@Html.EditorFor(model => model.LastName)</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="CategoryText Bold">@Localizer["Mail"]:  </p>
                </td>
                <td>
                    <p class="CategoryText">@Html.EditorFor(model => model.Mail)</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="CategoryText Bold">@Localizer["Address"]:  </p>
                </td>
                <td>
                    <p class="CategoryText">@Html.EditorFor(model => model.Address)</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="CategoryText Bold">@Localizer["TelNr"]:  </p>
                </td>
                <td>
                    <p class="CategoryText">@Html.EditorFor(model => model.TelNr)</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="CategoryText Bold">@Localizer["SSN"]:  </p>
                </td>
                <td>
                    <p class="CategoryText">@Html.EditorFor(model => model.SSN)</p>
                </td>
            </tr>

        </table>


        <div class="SubmitDiv">
            <input type="button" value="Submit" id="modalSubmit" />
        </div>
    </div>
}