@model EquipmentManagementSystem.Models.Owner

@{
    ViewData["Title"] = "CreateOwner";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

@section scripts {

    <script type="text/javascript">

    $('#form').on("submit", function (event) {

        event.preventDefault();
        var form = $('#form');

        $.getScript("/js/ajaxPost.js", function(data) {
            PostForm(form, callBackUser);
        });

    });

    function callBackUser(data) {

        if (!data) {
            alert("Owner already exists");
            }
        else {

        window.location.href = "@Url.Action("Index", "Owner")";
        }

    };
    </script>
 
}

<h2>CreateOwner</h2>

@using (Html.BeginForm("Create", "Owner", FormMethod.Post, new { id = "form" })) {
    @Html.AntiForgeryToken()

    <div>
        <table>
            <tr>
                <td><p class="CategoryText Bold">@Html.DisplayNameFor(model => model.FirstName):  </p></td>
                <td><p class="CategoryText">@Html.EditorFor(model => model.FirstName)</p></td>
            </tr>
            <tr>
                <td><p class="CategoryText Bold">@Html.DisplayNameFor(model => model.LastName):  </p></td>
                <td><p class="CategoryText">@Html.EditorFor(model => model.LastName)</p></td>
            </tr>
            <tr>
                <td><p class="CategoryText Bold">@Html.DisplayNameFor(model => model.Mail):  </p></td>
                <td><p class="CategoryText">@Html.EditorFor(model => model.Mail)</p></td>
            </tr>
            <tr>
                <td><p class="CategoryText Bold">@Html.DisplayNameFor(model => model.Address):  </p></td>
                <td><p class="CategoryText">@Html.EditorFor(model => model.Address)</p></td>
            </tr>
            <tr>
                <td><p class="CategoryText Bold">@Html.DisplayNameFor(model => model.TelNr):  </p></td>
                <td><p class="CategoryText">@Html.EditorFor(model => model.TelNr)</p></td>
            </tr>
            <tr>
                <td><p class="CategoryText Bold">@Html.DisplayNameFor(model => model.SSN):  </p></td>
                <td><p class="CategoryText">@Html.EditorFor(model => model.SSN)</p></td>
            </tr>
        </table>
    </div>

    <div class="SubmitDiv">
        <input type="submit" value="Create" />
        <input type="button" value="Back" onclick="history.go(-1); return false;" />
    </div>
}