@model EquipmentManagementSystem.Domain.Data.OwnerViewModel
@using EquipmentManagementSystem.Domain.Service
@using EquipmentManagementSystem.Domain.Data.Models
@inject Localizer Localizer

@{
    ViewData["Title"] = Localizer["Create"] + " " + Localizer["Owner"];
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

@section scripts {

    <script type="text/javascript">

    $('#form').on("submit", function (event) {

        event.preventDefault();
        var form = $('#form');

        $.getScript("/js/ajaxPost.js", function(data) {
            PostForm(form, callBackUser);
        });

    });

    function callBackUser(data) {

        if (!data) {
            alert("@Localizer["Owner"] @Localizer["already exists"]");
            }
        else {

        window.location.href = "@Url.Action("Index", "Owner")";
        }

    };
    </script>

}

<h2>@Localizer["Create"] @Localizer["Owner"]</h2>

@using (Html.BeginForm("Create", "Owner", FormMethod.Post, new { id = "form" })) {
    @Html.AntiForgeryToken()

    <div>
        <table>
            <tr>
                <td><p class="CategoryText Bold">@Localizer["FirstName"]:  </p></td>
                <td><p class="CategoryText">@Html.EditorFor(model => model.Owner.FirstName) @Html.ValidationMessage("FirstName", "", new { @class = "text-danger" })</p></td>
            </tr>
            <tr>
                <td><p class="CategoryText Bold">@Localizer["LastName"]:  </p></td>
                <td><p class="CategoryText">@Html.EditorFor(model => model.Owner.LastName) @Html.ValidationMessage("LastName", "", new { @class = "text-danger" })</p></td>
            </tr>
            <tr>
                <td><p class="CategoryText Bold">@Localizer["Mail"]:  </p></td>
                <td><p class="CategoryText">@Html.EditorFor(model => model.Owner.Mail) @Html.ValidationMessage("Mail", "", new { @class = "text-danger" })</p></td>
            </tr>
            <tr>
                <td><p class="CategoryText Bold">@Localizer["Address"]:  </p></td>
                <td><p class="CategoryText">@Html.EditorFor(model => model.Owner.Address)</p></td>
            </tr>
            <tr>
                <td><p class="CategoryText Bold">@Localizer["TelNr"]:  </p></td>
                <td><p class="CategoryText">@Html.EditorFor(model => model.Owner.TelNr)</p></td>
            </tr>
            <tr>
                <td><p class="CategoryText Bold">@Localizer["SSN"]:  </p></td>
                <td><p class="CategoryText">@Html.EditorFor(model => model.Owner.SSN)</p></td>
            </tr>
        </table>
    </div>

    <div class="SubmitDiv">
        <input type="submit" value="@Localizer["Create"]" />
        <input type="button" value="@Localizer["Back"]" onclick="history.go(-1); return false;" />
    </div>
}