@model Owner

@using EquipmentManagementSystem.Models

@using EquipmentManagementSystem.Data
@inject Localizer Localizer

@{
    ViewData["Title"] = Localizer["Delete"];
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

@section scripts {

    <script type="text/javascript">

        $('form').on("submit", function (e) {

            var dialog = document.getElementById("confirmDialog");
            dialog.title = "@Localizer["Delete"] @Localizer["Owner"]";
            ConfirmClick(e, Delete);
        });

        function Delete() {

            var form = $('#form');

            $.getScript("/js/ajaxPost.js", function (data) {
                PostForm(form, callBack);
            });
        }

        function callBack(success) {

            if (success) {

                window.location = "@Url.Action("Index")";
            }
            else {

                alert("oops");
            }
        };

    </script>
}

    <h2>@Localizer["Delete"]</h2>

@using (Html.BeginForm("Delete", "Owner", FormMethod.Post, new { id = "form" })) {
    @Html.AntiForgeryToken()
    <div>
        <div>
            @Html.HiddenFor(model => model.ID)
        </div>
        <table>
            <tr>
                <td><p class="CategoryText Bold">@Localizer["FirstName"]:  </p></td>
                <td><p class="CategoryText">@Html.DisplayFor(model => model.FirstName)</p></td>
            </tr>
            <tr>
                <td><p class="CategoryText Bold">@Localizer["LastName"]: </p></td>
                <td><p class="CategoryText">@Html.DisplayFor(model => model.LastName)</p></td>
            </tr>
            <tr>
                <td><p class="CategoryText Bold">@Localizer["TelNr"]: </p></td>
                <td><p class="CategoryText">@Html.DisplayFor(model => model.TelNr)</p></td>
            </tr>
            <tr>
                <td><p class="CategoryText Bold">@Localizer["Mail"]: </p></td>
                <td><p class="CategoryText">@Html.DisplayFor(model => model.Mail)</p></td>
            </tr>
            <tr>
                <td><p class="CategoryText Bold">@Localizer["SSN"]: </p></td>
                <td><p class="CategoryText">@Html.DisplayFor(model => model.SSN)</p></td>
            </tr>
            <tr>
                <td><p class="CategoryText Bold">@Localizer["Address"]: </p></td>
                <td><p class="CategoryText">@Html.DisplayFor(model => model.Address)</p></td>
            </tr>
            <tr>
                <td><p class="CategoryText Bold">@Localizer["Equipment"]: </p></td>
                <td>
                    <ul>
                        @foreach (Equipment eqp in Model.Equipment) {
                            <li>
                                <p class="CategoryText">@eqp.Serial</p>
                                <p class="CategoryText">@eqp.Model</p>
                            </li>
                        }
                    </ul>
                </td>
            </tr>
        </table>
    </div>
    <div class="SubmitDiv">
        <input type="submit" value="@Localizer["Delete"]" />
        <input type="button" value="@Localizer["Back"]" onclick="location.href='@Url.Action("Index", "Owner")'" />
    </div>
}
