@model Owner

@using EquipmentManagementSystem

@using EquipmentManagementSystem.Models

@using EquipmentManagementSystem.Data
@inject Localizer Localizer

@{
    ViewData["Title"] = Localizer["Edit"];
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

@section scripts {

    <script type="text/javascript">

        $('#confirmButton').click(function (e) {

            var dialog = document.getElementById("confirmDialog");
            dialog.title = @Localizer["Edit"] + " " + @Localizer["Owner"];

            ConfirmClick(e, submitted);
        });


        function submitted() {

            event.preventDefault();
            var form = $('#form');

            $.getScript("/js/ajaxPost.js", function (data) {
                PostForm(form, callBackUser);
            });
        };


        function callBackUser(success) {

            if (success) {

                window.location = "@Url.Action("Index")";
            }

        };


    </script>
}

    <h2>@Localizer["Edit"]</h2>

@using (Html.BeginForm("Create", "Owner", FormMethod.Post, new { id = "form" })) {
    @Html.AntiForgeryToken()

    <div>
        <table>
            <tr>
                <td><p class="CategoryText Bold">@Localizer["FirstName"]:  </p></td>
                <td><p class="CategoryText">@Html.EditorFor(model => model.FirstName)</p></td>
            </tr>
            <tr>
                <td><p class="CategoryText Bold">@Localizer["LastName"]:  </p></td>
                <td><p class="CategoryText">@Html.EditorFor(model => model.LastName)</p></td>
            </tr>
            <tr>
                <td><p class="CategoryText Bold">@Localizer["Mail"]:  </p></td>
                <td><p class="CategoryText">@Html.EditorFor(model => model.Mail)</p></td>
            </tr>
            <tr>
                <td><p class="CategoryText Bold">@Localizer["Address"]:  </p></td>
                <td><p class="CategoryText">@Html.EditorFor(model => model.Address)</p></td>
            </tr>
            <tr>
                <td><p class="CategoryText Bold">@Localizer["TelNr"]:  </p></td>
                <td><p class="CategoryText">@Html.EditorFor(model => model.TelNr)</p></td>
            </tr>
            <tr>
                <td><p class="CategoryText Bold">@Localizer["SSN"]:  </p></td>
                <td><p class="CategoryText">@Html.EditorFor(model => model.SSN)</p></td>
            </tr>
            <tr>
                <td><p class="CategoryText Bold">@Localizer["Equipment"]: </p></td>
                <td>
                    <ul>
                        @foreach (var item in Model.Equipment) {
                            <li>
                                <p class="CategoryText">@item.Serial</p>
                                <p class="CategoryText">@item.Model)</p>
                            </li>
                        }
                    </ul>
                </td>
            </tr>
        </table>
    </div>

    <div class="SubmitDiv">
        <input type="button" value="@Localizer["Edit"]" id="confirmButton" />
        <input type="button" value="@Localizer["Back"]" onclick="history.go(-1); return false;" />
    </div>
}