@using EquipmentManagementSystem.Models
@using EquipmentManagementSystem.Data
@inject Localizer Localizer

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Placeholder";
}


@section Scripts {

    <script src="~/js/Index-Table.js" type="text/javascript"></script>

    <script type="text/javascript">

        $('document').ready(function () {

            var tableView = "@Html.Raw(Url.Action("Table", "Owner", new { sortVariable = "_Sort_", searchString = "_Search_", page = "_Page_" }))"
                .replace("_Sort_", encodeURIComponent("@ViewData["CurrentSort"]"))
                .replace("_Search_", encodeURIComponent("@ViewData["SearchString"]"))
                .replace("_Page_", encodeURIComponent("@ViewData["Page"]"))

            $.get(tableView,
                function (data) {
                    var partial = $('#partialTable');
                    partial.replaceWith(data);
                }
            )
        });

        $('#search').focusin(function () {

            $(this).attr('value', '');
        });


        $('#search').focusout(function () {

            var input = document.getElementById('search');
            if (input.value.length < 1) {
                $(this).attr('value', '@Localizer["Find model/date/owner..."]');
            }

        });

        
        $('#search').keyup(function (e) {


            if (e.keyCode == 13) {

                var searchVal = e.target.value;
                PostTable("@ViewData["Page"]", searchVal, "@ViewData["CurrentSort"]");
            }
            else if (e.target.value.length < 1) {

                var list = document.getElementById("searchCategories");
                list.style.display = "none";
            }
            else {

                var searchVal = e.target.value;
                var values = searchVal.split(", ");

                document.getElementById("categoryDate").value = "Date:" + values[values.length - 1];
                document.getElementById("categoryAdded").value = "Added:" + values[values.length - 1];
                document.getElementById("categoryFirstName").value = "FirstName:" + values[values.length - 1];
                document.getElementById("categoryLastName").value = "LastName:" + values[values.length - 1];
                document.getElementById("categoryAddress").value = "Address:" + values[values.length - 1];

                var list = document.getElementById("searchCategories");
                list.style.display = "block";
            }            
        });


        $('#submitSearch').click(function (e) {

            var search = document.getElementById("search");
            var searchVal = search.value;

            PostTable("@ViewData["Page"]", searchVal, "@ViewData["CurrentSort"]");
        });


        // replaces search value with category clicked
        $('.CategoryButton').on("click", function (e) {

            var searchBox = document.getElementById("search");

            if (searchBox.value.split(", ").length > 1) {

                var values = searchBox.value.split(", ");
                var oldVal = "";

                for (var i = 0; i < values.length - 1; i++) {

                    oldVal += values[i];
                }

                searchBox.value = e.target.value + ", " + oldVal;
            }
            else {

                searchBox.value = e.target.value + ", ";
            }

        });


        function PostTable(uri, searchString, currentSort) {

            var tableView = "@Html.Raw(Url.Action("Table", "Owner", new { sortVariable = "_Sort_", searchString = "_Search_", page = "_Page_" }))"
                .replace("_Sort_", encodeURIComponent(currentSort))
                .replace("_Search_", encodeURIComponent(searchString))
                .replace("_Page_", encodeURIComponent(uri));

            $.get(tableView,
                function (data) {

                    $('table').replaceWith(data);
                }
            )
        };


        var exportHandler = function () {

            $.getScript("/js/ConfirmationDialogue.js", function () {
                ConfirmClickGeneric(Export, '#exportDialog');
            });
        };

        function Export() {

            var element = document.getElementById('exportSelect');
            var exportTypeVal = element.options[element.selectedIndex].text;
            var searchVal = document.getElementById("search").value;

            var rowItems = $(".SelectedRow");
            var selection = "";

            for (var i = 0; i < rowItems.length; i++) {

                alert(rowItems[i].cells[4].innerHTML);
                selection += rowItems[i].cells[4].innerHTML + " ";
            }

            var str = "@Html.Raw(Url.Action("Export", new { exportType = "_exportType_", searchString = "_searchValue_", selection = "_selection_" }))"
                .replace("_exportType_", exportTypeVal)
                .replace("_searchValue_", searchVal)
                .replace("_selection_", selection);

            window.location = str;
        };

        

    </script>
}

<h2>@Localizer["Owner"]</h2>

<div class="SearchDiv">
    @Html.TextBox("SearchString", Localizer["Find model/date/owner..."], new { id = "search", @class = "Search" })
    <input id="submitSearch" type="button" value="@Localizer["Search"]" />

    <div id="searchCategories" hidden>
        <ul class="CategoryList">
            <li>
                <input class="CategoryButton" type="button" id="categoryAdded" value="Added" />
            </li>
            <li>
                <input class="CategoryButton" type="button" id="categoryDate" value="LastEdited" />
            </li>
            <li>
                <input class="CategoryButton" type="button" id="categoryFirstName" value="FirstName" />
            </li>
            <li>
                <input class="CategoryButton" type="button" id="categoryLastName" value="LastName" />
            </li>
            <li>
                <input class="CategoryButton" type="button" id="categoryMail" value="Mail" />
            </li>
        </ul>
    </div>
</div>

<p>
    @Html.ActionLink(Localizer["Import"], "Import")
</p>

<p>
    @Html.ActionLink(Localizer["Create New"], "Create", new { culture = ViewData["Language"] })
</p>

<div id="partialTable"></div>



