@using EquipmentManagementSystem.Domain.Data.Models
@using EquipmentManagementSystem.Domain.Service
@inject Localizer Localizer

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Placeholder";
}


@section Scripts {

    

    <script type="text/javascript">

      
    </script>
}

<h2>@Localizer["Owner"]</h2>

<div class="SearchDiv">
    @Html.TextBox("SearchString", Localizer["Find model/date/owner..."], new { id = "search", @class = "Search" })
    <input id="submitSearch" type="button" value="@Localizer["Search"]" />

    <div id="searchCategories" hidden>
        <ul class="CategoryList">
            <li>
                <input class="CategoryButton" type="button" id="categoryAdded" value="Added" />
            </li>
            <li>
                <input class="CategoryButton" type="button" id="categoryDate" value="LastEdited" />
            </li>
            <li>
                <input class="CategoryButton" type="button" id="categoryFirstName" value="FirstName" />
            </li>
            <li>
                <input class="CategoryButton" type="button" id="categoryLastName" value="LastName" />
            </li>
            <li>
                <input class="CategoryButton" type="button" id="categoryMail" value="Mail" />
            </li>
            <li>
                <input class="CategoryButton" type="button" id="categoryAddress" value="Address" />
            </li>
        </ul>
    </div>
</div>

<p>
    <a href="#" onclick="importHandler()" id="importButton">@Localizer["Import"]</a>
</p>

<p>
    @Html.ActionLink(Localizer["Create New"], "Create", new { culture = ViewData["Language"] })
</p>

<div id="partialTable"></div>



