@using EquipmentManagementSystem.Domain.Data
@using EquipmentManagementSystem.Domain.Data.Models
@using EquipmentManagementSystem.Domain.Service
@model PagedList<Owner>
@inject Localizer Localizer

@{
    Layout = "~/Views/Shared/_OwnerTableLayout.cshtml";
}


@section Scripts {


    <script type="text/javascript">


    </script>
}

@if (@Model.TotalPages > 1) {

    <p>Displaying: @Model.PageEntries - @Model.PageEnd of @Model.TotalEntries entries</p>
    <p id="CurPage" hidden>@Model.Page</p>
    <p id="CurrentSort" hidden>@ViewData["CurrentSort"].ToString()</p>
    <p id="SearchString" hidden>@ViewData["SearchString"].ToString()</p>
    <div style="float:left" id="pageList">
        <div style="float:left" id="startList"></div>
        <div style="float:left" id="curList"></div>
        <div style="float:left" id="endList"></div>
    </div>
}

<table class="ownerTable NoPaddingMargin" id="table">
    <thead>
        <tr id="pageListRow"></tr>
        <tr id="selectionRow">
            <th id="selectionButtons" style="display:none">
                Selection
                <input type="button" id="selectionDelete" value="Delete" />
                <input type="button" id="selectionExport" value="Export" />
            </th>

        </tr>
        <tr>
            <th>
                <a href="" class="sortLink" id="Created">
                    @Localizer["Created Date"]
                </a>
            </th>
            <th>
                <a href="" class="sortLink" id="Date">
                    @Localizer["Last Edited"]
                </a>
            </th>
            <th>
                @Localizer["FirstName"]
            </th>
            <th>
                @Localizer["LastName"]
            </th>
            <th>
                @Localizer["Mail"]
            </th>
            <th>
                @Localizer["Address"]
            </th>
            <th class="Actions">
            </th>
        </tr>
    </thead>
    @foreach (var item in Model) {
        <tr id="toprow" class="ParentRow">
            <td>
                @Html.DisplayFor(modelItem => item.Added)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastEdited)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td class="Actions">
                @Html.ActionLink(Localizer["Edit"], "Edit", new { id = item.ID, culture = ViewData["Language"] }) |
                @Html.ActionLink(Localizer["Delete"], "Delete", new { id = item.ID, culture = ViewData["Language"] })
            </td>
        </tr>
    }
</table>